p{
	font-size: 40 px;
	color: #ff0000;

}
body{
	background-attachment: fixed;
	background-color: #dddddd;
	background-image:url('http://www.k19.com.br/css/img/main-header-logo.png');
	background-position: left top;
	background-repeat: repeat;
}